#root{
    background-color: black;
}/* full page background color is black*/
.App-header{
    display: flex;
    justify-content: space-between;   
    margin: 1% 1% 1% 1%;
}
.LogoAndText{
    display: flex;
    width: 15%;
    color: #A7A1E8;;
    justify-content: space-between;
}
.App-header h1{
    color: white;
    font-size: 2em;
}
.App-header h3{
    color: white;
    font-size: 1.5em;
}
.three-on-top{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.contact-button{
    background-color: #302D50;
    color: white;
    padding: 8px 20px;
    border-radius: 27px;
}